body {
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 90%;
}

.container {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  min-height: 120px;
  width: 1000px;
  justify-content: left;
}

img {
  width: 100px;
  height: 100px;
  margin: 10px;
  cursor: grab;
}

.tier-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.tier-row {
  display: flex;
  align-items: center;
  height: auto;
  align-items: stretch; /* Die Label und Inhalte werden gleich hoch sein */
}
.tier-label {
  min-width: 100px;
  min-height: 100px;
  height: auto;
  background-color: #ff4c4c;
  color: white;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.tier-row[data-tier="A"] .tier-label {
  background-color: #ff8c00;
}
.tier-row[data-tier="B"] .tier-label {
  background-color: #ffd700;
}
.tier-row[data-tier="C"] .tier-label {
  background-color: #adff2f;
}
.tier-row[data-tier="D"] .tier-label {
  background-color: #32cd32;
}

.tier-content {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  /* padding: 10px; */
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  width: 1000px; /* Feste Breite für den Tier-Container */
  /* min-width: 120px; */
  min-height: 120px;
  box-sizing: border-box; /* Stellt sicher, dass Padding zur Breite zählt */
}

.tier img {
  cursor: pointer;
}
